# Third Session

## More on lists, tuples, and dictionaries

In [4]:
#dir(list)

### List's methods are:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

 last session we discussed the applications of append(), pop(), and remove()

In [9]:
list1 = ["a", 1, "b", 2, "c", 3]

### .insert()

In [10]:
list1.insert(2, "New String") #the first argument takes the index number
list1

['a', 1, 'New String', 'b', 2, 'c', 3]

### .sort()

In [11]:
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [23]:
list2 = [58, 98, 74, 56, 1, 2]
print(f"before sorting it is {list2}")
list2.sort()
print(f"after soring it is {list2}")

before sorting it is [58, 98, 74, 56, 1, 2]
after soring it is [1, 2, 56, 58, 74, 98]

In [24]:
list2.sort(reverse = True)
list2

[98, 74, 58, 56, 2, 1]

In [29]:
list3 = ["Alicia", "Sabrina", "Jane", "James", "Marshall"]

In [30]:
list3.sort()
list3

['Alicia', 'James', 'Jane', 'Marshall', 'Sabrina']

### .reverse()

In [25]:
list2.reverse()
list2

[1, 2, 56, 58, 74, 98]

In [31]:
list3.reverse()
list3

['Sabrina', 'Marshall', 'Jane', 'James', 'Alicia']

### .copy()

In [63]:
list4 = list3.copy()
list4

['Sabrina', 'Marshall', 'Jane', 'James', 'Alicia']

### .extend()

In [64]:
list4.extend((1, 2, 3))
list4

['Sabrina', 'Marshall', 'Jane', 'James', 'Alicia', 1, 2, 3]

In [65]:
list4.extend("Hi")
list4

['Sabrina', 'Marshall', 'Jane', 'James', 'Alicia', 1, 2, 3, 'H', 'i']

- The difference between append() and extend() is that extend() adds each element from an iterable individually, while append() adds the entire object as a single element.

### .count()

In [66]:
list4.count("H")

1

### .clear()

In [60]:
list4.clear()

In [61]:
list4

[]

## Tuple's methods are

'count',
 'index'

In [69]:
# dir(tuple)

In [73]:
word = "Hello"
print(word, ", Its data type is ", type(word))

Hello , Its data type is  <class 'str'>

In [74]:
tuplee = tuple(word)
print(tuplee)

('H', 'e', 'l', 'l', 'o')

### .count()

In [76]:
tuplee.count("H")

1

### .index()

In [85]:
tuplee.index("l")

2

In [89]:
tuplee.index("l", 3)

3

In [90]:
tuplee.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [102]:
tuplee[1:3]

('e', 'l')

# Exercise 1
- Create a list and append a tuple to it.
- Assign variables using slicing and indexing methods.
- Is it possible to perform mathematical operations between individual items of lists or tuples? Does this depend on the data type of the items?

# Dictionaries

In [103]:
players_numbers = dict(Messi = 10, Bellingham = 5)
players_numbers

{'Messi': 10, 'Bellingham': 5}

In [105]:
print(players_numbers["Messi"])

10

In [108]:
countries = {
    "USA": {"GDP 2022": 25.7 * 1000, "GDP per capita": 63.7},  # GDP in billions, GDP per capita in thousands #https://tradingeconomics.com
    "Switzerland": {"GDP 2022": 818, "GDP per capita": 90.1}  # GDP in billions, GDP per capita in thousands
}
print(countries)

{'USA': {'GDP 2022': 25700.0, 'GDP per capita': 63.7}, 'Switzerland': {'GDP 2022': 818, 'GDP per capita': 90.1}}

In [109]:
print(countries["Switzerland"]["GDP per capita"])

90.1

### Adding, Changing, and Deleting Elements in Dictionaries

In [112]:
players_numbers["Puyol"] = 5

In [113]:
players_numbers

{'Messi': 10, 'Bellingham': 5, 'Puyol': 5}

- How to add items to a nested dictionary?

In [110]:
countries["Japan"]["GDP 2022"] = 4.26 * 1000

KeyError: 'Japan'

In [116]:
new_dic = {}

new_dic["Key"] = "Value"

In [117]:
new_dic

{'Key': 'Value'}

In [118]:
# First, create the nested dictionary for Japan
countries["Japan"] = {}

# Then, assign values to the keys in the nested dictionary
countries["Japan"]["GDP 2022"] = 4.26 * 1000
countries["Japan"]["GDP per capita"] = 36.3  # Example value for GDP per capita

print(countries)

{'USA': {'GDP 2022': 25700.0, 'GDP per capita': 63.7}, 'Switzerland': {'GDP 2022': 818, 'GDP per capita': 90.1}, 'Japan': {'GDP 2022': 4260.0, 'GDP per capita': 36.3}}

In [119]:
del countries["USA"]

In [120]:
countries

{'Switzerland': {'GDP 2022': 818, 'GDP per capita': 90.1},
 'Japan': {'GDP 2022': 4260.0, 'GDP per capita': 36.3}}

In [127]:
#dir(dict)

## Dictionary methods

'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- .items()

In [121]:
countries.items()

dict_items([('Switzerland', {'GDP 2022': 818, 'GDP per capita': 90.1}), ('Japan', {'GDP 2022': 4260.0, 'GDP per capita': 36.3})])

- .keys()

In [122]:
countries.keys()

dict_keys(['Switzerland', 'Japan'])

- .values()

In [123]:
countries.values()

dict_values([{'GDP 2022': 818, 'GDP per capita': 90.1}, {'GDP 2022': 4260.0, 'GDP per capita': 36.3}])

In [125]:
countries.values()

dict_values([{'GDP 2022': 818, 'GDP per capita': 90.1}, {'GDP 2022': 4260.0, 'GDP per capita': 36.3}])

- .update()

In [129]:
countries.update({
    "Germany": {"GDP 2022": 4082.47, "GDP per capita": 43361.18}  # GDP in billions, GDP per capita in thousands
})

print(countries)

{'Switzerland': {'GDP 2022': 818, 'GDP per capita': 90.1}, 'Japan': {'GDP 2022': 4260.0, 'GDP per capita': 36.3}, 'Germany': {'GDP 2022': 4082.47, 'GDP per capita': 43361.18}}

In [130]:
countries.pop("Germany")

{'GDP 2022': 4082.47, 'GDP per capita': 43361.18}

In [131]:
countries

{'Switzerland': {'GDP 2022': 818, 'GDP per capita': 90.1},
 'Japan': {'GDP 2022': 4260.0, 'GDP per capita': 36.3}}

# Performing mathematics with dicts

In [135]:
data1 = {"age1" : 1, "age2" : 2, "age3" : 3}

### addition using sum()

In [136]:
total_sum = sum(data1.values())
print(total_sum)

6

### multiplication using prod()

In [140]:
import math
product = math.prod(data1.values())
print(product)

6

### Maximum and Minimum values

In [142]:
min(data1.values())

1

In [144]:
max(countries["Japan"].values())

4260.0

## Calculating Averages

In [146]:
averagee = sum(data1.values()) / len(data1)
print(averagee)

2.0

# Exercise 2

- Based on the data below, calculate GDP per capita for both countries.

In [156]:
countries_data = {
    "USA": {"GDP": 25.7 * 1000, "population": 331},
    "China": {"GDP": 17.7 * 1000, "population": 1441}
}