# Data Types and Data Structures
### Types of data in python: 

- Numeric types

 - sequence types

- mapping types

- set types

- bool types

## By using the type() function, we can check data types

## Numeric Types
### 1. Integers

In [1]:
type(5)

int

In [3]:
#intergers
3

3

### 2. Float

In [4]:
type(2.5)

float

In [7]:
#float
print(3.15)

3.15

### 3. Complex

In [6]:
6 + 5j

(6+5j)

# sequence types

### 1. String

In [8]:
print("Econometrics")

Econometrics

In [9]:
type("Econometrics")

str

- A string is considered a sequence type because it is composed of a sequence of characters. Each character in the string can be accessed individually. This sequential nature allows us to iterate over the string using loops, as the following for loop:

In [10]:
for letter in "Econometrics":
    print(letter)

E
c
o
n
o
m
e
t
r
i
c
s

- In these codes, the for loop iterates over each character in the string string_variable. During each iteration, the variable letter takes on the value of the next character in the string, and print(letter) outputs that character.

### 2. List

In [11]:
inflation_rate = [3.2, 3.7, 3.7, 3.2, 3.1, 3.4, 3.1, 3.2, 3.5, 3.4, 3.3, 3, 2.9] #https://tradingeconomics.com/united-states/inflation-cpi

In [12]:
type(inflation_rate)

list

- We can count the number of items in a sequential data type using the len() function.

In [13]:
len(inflation_rate)

13

- We can access the position of items or characters within a sequential data type using indexing, for example:

In [14]:
inflation_rate[0]

3.2

### 3. Tuple

It is an ordered, immutable data structure

- It is created by comma or parenthesis
- We can also use tuple() function

In [15]:
datatuple = 1, 2, 3, 4, 5, 6, 7
print(datatuple)
print("Its type is", type(datatuple))

(1, 2, 3, 4, 5, 6, 7)
Its type is <class 'tuple'>

In [16]:
datatuple2 = (8, 9, 10)
print(datatuple)
print("Its type is", type(datatuple))

(1, 2, 3, 4, 5, 6, 7)
Its type is <class 'tuple'>

# Mapping data type (or Associative arrays)

In [17]:
data = {"1st" : "A", "2nd" : "B", "3rd" : "C"}

In [19]:
print(data, type(data), sep = "\n")

{'1st': 'A', '2nd': 'B', '3rd': 'C'}
<class 'dict'>

# Set types

In [21]:
nnn = (1, 2, 3, 4)
set1 = set(nnn)
print(type(set1))

<class 'set'>

In [22]:
mmm = [1, 2, 3, 4]
set1 = set(mmm)
print(type(set1))

<class 'set'>

In [24]:
ooo = (1, "b", "a", 4)
set1 = set(ooo)
print(type(set1))

<class 'set'>

# Bool types

In [25]:
1 < 2

True

In [28]:
True + 1

2

In [29]:
False + 2

2

# Back to Numeric Types!

### Let's use python as a calculator

1. Addition

In [30]:
2 + 5

7

2. Subtraction

In [31]:
5 - 3

2

3. Multiplication

In [32]:
5 * 5

25

4. Division

In [33]:
15 / 3

5.0

In [34]:
6 + 2
4 * 4

16

### When two line of codes were written, only the last line was printed. So, how can we make sure that every line is printed out?

- We must use print() function for that purpose.

In [35]:
print(6 + 2)
print(4 * 4)

8
16

### Do mathmatical operators produce certain kinds of data types?

In [36]:
type(5 + 2)

int

In [37]:
type(5 * 2)

int

In [38]:
type(5 / 1)

float

In [39]:
type(3 - 2)

int

### Yes, division operator create float data type. (For precision)

### % remainder

- Gives the remainder of a division

In [40]:
print(80 % 10)

0

In [41]:
print(80 % 11) #11 * 7 = 77, 80 - 77 = 3

3

### // floor division

- Gives the largest integer less than or equal to the result of the division.

In [42]:
print(80 // 11)

7

In [43]:
9 // 2

4

In [44]:
9 / 2

4.5

### ** exponential

- It raises a number to the power of another number.

In [45]:
21**2

441

### Order of Mathmatical Operations
1) parentheses
2) exponential number
3) negative number
4) multiplication and division
5) addition and substraction

## Assigning variables

In [46]:
a = 2
b = 3

In [47]:
a * b

6

In [48]:
stringg = "Hello"
print(stringg)

listt = ["James, 18, Jane, 20"]
print(listt)

tuplee = (4, 5, 6)
print(tuplee)

Hello
['James, 18, Jane, 20']
(4, 5, 6)

# Excerices

### Check the type of the %, //, and **. What do you conclude?

### Is it possible to perform mathematical operations with sequential data types? With which ones do you encounter errors?